# DataFrame 1
#### 1. what is DataFrame
#### 2. Create DataFrame pd.DataFrame([data, index, columns, dtype, copy])
####  3. view DataFrame df or df.head(n)
####  4. Access individual rows using df.loc[["R1,R2]] or columns df[["C1,C2,...]]
####   access specific values in the table using df.iloc[r start: r end, C starts: C ends]
####  5. Add and drop columns

### 1.  What is a DataFrame?
#### A Pandas DataFrame is a 2 dimensional data structure, like a 2 dimensional array, or a table with rows and columns.

### DataFrame([data, index, columns, dtype, copy])

####  Two-dimensional, size-mutable, potentially heterogeneous tabular data

###  pandas.DataFrame(data=None, index=None, columns=None, dtype=None, copy=False)-### -default dataframe documentation with arguments

### ***  Parameters
### data ndarray (structured or homogeneous), Iterable, dict, or DataFrame
##### Dict can contain Series, arrays, constants, dataclass or list-like objects. If data is a dict, column order follows insertion-order.

##### Changed in version 0.25.0: If data is a list of dicts, column order follows insertion-order.

### index  Index or array-like
##### Index to use for resulting frame. Will default to RangeIndex if no indexing information part of input data and no index provided.

### columns  Index or array-like
##### Column labels to use for resulting frame. Will default to RangeIndex (0, 1, 2, …, n) if no column labels are provided.

### dtype  dtype, default None
##### Data type to force. Only a single dtype is allowed. If None, infer.

### copy bool, default False
######  Copy data from inputs. Only affects DataFrame / 2d ndarray input.

In [1]:
import numpy as np
import pandas as pd
from numpy.random import randn

In [2]:
# The seed() method is used to initialize the random number generator.

# The random number generator needs a number to start with (a seed value), to be able to generate a random number
# np.random.seed(a,version) version default value is 2
np.random.seed(101)

In [3]:
Data=randn(10) # Generate 10 numbers of dimention 1 
Data
# numpy.random.randn
# random.randn(d0, d1, ..., dn)
# Return a sample (or samples) from the “standard normal” distribution Data

array([ 2.70684984,  0.62813271,  0.90796945,  0.50382575,  0.65111795,
       -0.31931804, -0.84807698,  0.60596535, -2.01816824,  0.74012206])

In [4]:
type(Data)
Data.ndim

1

In [5]:
np.random.seed(10)

### 2.  Create a dataframe table  df= pd.DataFrame([data, index, columns])

In [6]:
# Create a dataframe df= pd.DataFrame([data, index, columns])
df=pd.DataFrame(randn(4,5),["A","B","C","D"],["M","N","P","Q","W"])
df

          M         N         P         Q         W
A  1.331587  0.715279 -1.545400 -0.008384  0.621336
B -0.720086  0.265512  0.108549  0.004291 -0.174600
C  0.433026  1.203037 -0.965066  1.028274  0.228630
D  0.445138 -1.136602  0.135137  1.484537 -1.079805

In [7]:
df.transpose()

          A         B         C         D
M  1.331587 -0.720086  0.433026  0.445138
N  0.715279  0.265512  1.203037 -1.136602
P -1.545400  0.108549 -0.965066  0.135137
Q -0.008384  0.004291  1.028274  1.484537
W  0.621336 -0.174600  0.228630 -1.079805

In [8]:
type(df)

pandas.core.frame.DataFrame

In [9]:
df.ndim

2

In [10]:
df.shape

(4, 5)

###  3. view DataFrame df or df.head(n)

In [11]:
df.head() # df.head( ) first 5 rows

          M         N         P         Q         W
A  1.331587  0.715279 -1.545400 -0.008384  0.621336
B -0.720086  0.265512  0.108549  0.004291 -0.174600
C  0.433026  1.203037 -0.965066  1.028274  0.228630
D  0.445138 -1.136602  0.135137  1.484537 -1.079805

In [12]:
df.head(2) # first two rows

          M         N         P         Q         W
A  1.331587  0.715279 -1.545400 -0.008384  0.621336
B -0.720086  0.265512  0.108549  0.004291 -0.174600

In [13]:
df.tail(2)  # last two rows

          M         N         P         Q         W
C  0.433026  1.203037 -0.965066  1.028274  0.228630
D  0.445138 -1.136602  0.135137  1.484537 -1.079805

#### df.describe() method is a general desciptive statistics
#### Descriptive statistics include those that summarize the central tendency, dispersion and shape of a dataset’s distribution, 
#### excluding NaN values.
##### Analyzes both numeric and object series, as well as DataFrame column sets of mixed data types

###  DataFrame.describe(percentiles=None, include=None, exclude=None, datetime_is_numeric=False)

In [16]:
df.describe()

              M         N         P         Q         W
count  4.000000  4.000000  4.000000  4.000000  4.000000
mean   0.372416  0.261806 -0.566695  0.627180 -0.101110
std    0.841136  1.007822  0.829676  0.750082  0.728904
min   -0.720086 -1.136602 -1.545400 -0.008384 -1.079805
25%    0.144748 -0.085017 -1.110149  0.001123 -0.400901
50%    0.439082  0.490395 -0.428259  0.516283  0.027015
75%    0.666750  0.837219  0.115196  1.142340  0.326807
max    1.331587  1.203037  0.135137  1.484537  0.621336

### Accessing rows, columns and individual values using df.loc, df.iloc...

In [ ]:
# df.loc() method: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.loc.html
#ccess a group of rows and columns by label(s) or a boolean array.

#df.loc[] is primarily label based, but may also be used with a boolean array.

## **Allowed inputs are:

##1. A single label, e.g. 5 or 'a', (note that 5 is interpreted as a label of the index, and never as an integer position along the index).

## 2. A list or array of labels, e.g. ['a', 'b', 'c'].

## 3. A slice object with labels, e.g. 'a':'f'.
## 4. A boolean array of the same length as the axis being sliced, e.g. [True, False, True].

## 5. An alignable boolean Series. The index of the key will be aligned before masking.

## 6. An alignable Index. The Index of the returned selection will be the input.

## 7. A callable function with one argument (the calling Series or DataFrame) and that returns valid output for indexing (one of the above)

In [28]:
df.loc["A"] # locate row A

M      1.331587
N      0.715279
P     -1.545400
Q     -0.008384
New    0.612952
Name: A, dtype: float64

In [32]:
# Access the "N" and "W" columns: List of labels. Note using [[]] returns a DataFrame
df[["N","M"]]

          N         M
A  0.715279  1.331587
B  0.265512 -0.720086
C  1.203037  0.433026
D -1.136602  0.445138

In [30]:
df.loc[["A","B"]]  ## List of labels. Note using [[]] returns a DataFrame

          M         N         P         Q       New
A  1.331587  0.715279 -1.545400 -0.008384  0.612952
B -0.720086  0.265512  0.108549  0.004291 -0.170309

In [33]:
df.loc['A':'C']  # slice objects from A to C

          M         N         P         Q       New
A  1.331587  0.715279 -1.545400 -0.008384  0.612952
B -0.720086  0.265512  0.108549  0.004291 -0.170309
C  0.433026  1.203037 -0.965066  1.028274  1.256904

In [34]:
df.loc['A','M'] # Single value for row and column

1.331586504129518

In [39]:
df.loc['A':'B','M':'P'] # slice values for rows and columns

          M         N         P
A  1.331587  0.715279 -1.545400
B -0.720086  0.265512  0.108549

In [20]:
# access the value in first row and 2nd column
df.iloc[0,1]

0.7152789743984055

In [21]:
df.iloc[0:3,:2] # slice access values on first 3 rows and first 2 solumns

          M         N
A  1.331587  0.715279
B -0.720086  0.265512
C  0.433026  1.203037

In [22]:
df.loc[["A","C"]]  # rows A and C

          M         N         P         Q         W
A  1.331587  0.715279 -1.545400 -0.008384  0.621336
C  0.433026  1.203037 -0.965066  1.028274  0.228630

### 5. Add and drop columns
#### add a column df["New"]=[  ]
####  drop a column pd.drop("Column", axis=0 or 1, inplace=False or true)

In [23]:
# Add a column : simply assign a new column
df["New"]=df["Q"]+df["W"]
df["New"]

A    0.612952
B   -0.170309
C    1.256904
D    0.404732
Name: New, dtype: float64

In [24]:
df

          M         N         P         Q         W       New
A  1.331587  0.715279 -1.545400 -0.008384  0.621336  0.612952
B -0.720086  0.265512  0.108549  0.004291 -0.174600 -0.170309
C  0.433026  1.203037 -0.965066  1.028274  0.228630  1.256904
D  0.445138 -1.136602  0.135137  1.484537 -1.079805  0.404732

In [25]:
# delect or  drop a column: df.drop()
df.drop("W",axis=1, inplace=True)   # axis = 1 operates along column, axis = 0 along index
df

          M         N         P         Q       New
A  1.331587  0.715279 -1.545400 -0.008384  0.612952
B -0.720086  0.265512  0.108549  0.004291 -0.170309
C  0.433026  1.203037 -0.965066  1.028274  1.256904
D  0.445138 -1.136602  0.135137  1.484537  0.404732

In [42]:
df['W']=[0.612952,-0.1746,1.2569,0.404732]
df

          M         N         P         Q       New         W
A  1.331587  0.715279 -1.545400 -0.008384  0.612952  0.612952
B -0.720086  0.265512  0.108549  0.004291 -0.170309 -0.174600
C  0.433026  1.203037 -0.965066  1.028274  1.256904  1.256900
D  0.445138 -1.136602  0.135137  1.484537  0.404732  0.404732

In [43]:
# Swap column New with Column W # only the contents swap but the column names have not
df['New']=df['W']
df['W']=df['New']
df

          M         N         P         Q       New         W
A  1.331587  0.715279 -1.545400 -0.008384  0.612952  0.612952
B -0.720086  0.265512  0.108549  0.004291 -0.174600 -0.174600
C  0.433026  1.203037 -0.965066  1.028274  1.256900  1.256900
D  0.445138 -1.136602  0.135137  1.484537  0.404732  0.404732