# Pandas and Series

###  Intro to Pandas:   ( From udemy
#### 1.Pandas source library that's built on top of Numpy
#### 2. Pandas allows for fast analysis and data cleaning and preparation
#### 3. Pandas excels in performance and productivity 
#### 4. Pandas has built in data visualization features
#### 5. It can work with data from a wide variiety of  sources

In [154]:
# What is Pandas? ( from w3schools.com)
# Pandas is a Python library  used for working with data sets.

# It has functions for analyzing, cleaning, exploring, and manipulating data.

# The name "Pandas" has a reference to both "Panel Data", and "Python Data Analysis" and was created by Wes McKinney in 2008.

In [ ]:
# Why Use Pandas? ( from 3schools)
# Pandas allows us to analyze big data and make conclusions based on statistical theories.

# Pandas can clean messy data sets, and make them readable and relevant.

# Relevant data is very important in data science.

In [ ]:
# What Can Pandas Do? ( from 3schools)
# Pandas gives you answers about the data. Like:

# Is there a correlation between two or more columns?
# What is average value?
# Max value?
# Min value?

###  Series:  
#### A Pandas Series is like a column in a table.

#### It is a one-dimensional array holding data of any type
#### it has argument of index,
### Syntax: np.Series(a, index=[",","]), a could be a list, array
#### If nothing else is specified, the values are labeled with their index number.
#### First value has index 0, second value has index 1 etc.

#### This label can be used to access a specified value

In [ ]:
# import pandas library

In [2]:
import numpy as np
import pandas as pd

In [6]:
# Create a Series from a list
a= [1,2,3,4]
Ser= pd.Series(a)  # need to capitalize Series
Ser

0    1
1    2
2    3
3    4
dtype: int64

In [8]:
Ser[0]  # return the first value of the Series

1

In [11]:
# specify the  index with strings ( name the labels of the index)
Ser1 = pd.Series(a,index=["a","b","c","d"])
Ser1

a    1
b    2
c    3
d    4
dtype: int64

In [13]:
# Access the value correspond to c
Ser1["c"]

3

###  Pandas documentation: ( from Pandas.org)
#### class pandas.Series(data=None, index=None, dtype=None, name=None, copy=False, fastpath=False)[source]¶
#### Parameters
##### data array-like, Iterable, dict, or scalar value
Contains data stored in Series. If data is a dict, argument order is maintained.

##### index array-like or Index (1d)
Values must be hashable and have the same length as data. Non-unique index values are allowed. Will default to RangeIndex (0, 1, 2, …, n) if not provided. If data is dict-like and index is None, then the keys in the data are used as the index. If the index is not None, the resulting Series is reindexed with the index values.

##### dtype str, numpy.dtype, or ExtensionDtype, optional
Data type for the output Series. If not specified, this will be inferred from data. See the user guide for more usages.

##### name str, optional
The name to give to the Series.

##### copy bool, default False
Copy input data.

In [75]:
d={"a": 1, "b": 2, "c":3}
type(d)

dict

In [76]:
pd.Series(d)

a    1
b    2
c    3
dtype: int64

In [106]:
Data=[1,2,3,4,5]
labels=["USA", "China","France","UK", "Australia"]
Ser2=pd.Series(Data, labels, name="Country")
print(Ser2)

USA          1
China        2
France       3
UK           4
Australia    5
Name: Country, dtype: int64

####  Attributes of pandas series: T(transpose), axes (Return a list of the row axis labels) , 
#####  dtype(Return the dtype object of the underlying data), shape,size, ndim,values,iloc, loc

In [107]:
Ser2.T

USA          1
China        2
France       3
UK           4
Australia    5
Name: Country, dtype: int64

In [108]:
Ser1.T

a    1
b    2
c    3
d    4
dtype: int64

In [109]:
Ser1.axes

[Index(['a', 'b', 'c', 'd'], dtype='object')]

In [110]:
Ser1.iloc

In [111]:
Ser2.values

array([1, 2, 3, 4, 5], dtype=int64)

In [112]:
Ser2.name

'Country'

In [113]:
# is_unique ( return a bool if it is unique)
Ser2.is_unique

True

In [114]:
Ser2.hasnans  # Return if I have any nans; enables various perf speedups

False

In [115]:
My_data=pd.Series(["a","2","b4"],["A","B","C"],dtype=str)
My_data

A     a
B     2
C    b4
dtype: object

In [116]:
Trans=My_data.T  ## Why doesnt transpose??? 
Trans

A     a
B     2
C    b4
dtype: object

In [117]:
Trans.values

array(['a', '2', 'b4'], dtype=object)

### Methods of pandas Series
#### abs(), add_prefix(prefix)-Prefix labels with string prefix,add_suffix(suffix)-Suffix labels with string suffix.
#### agg([func, axis]):Aggregate using one or more operations over the specified axis.
#### align(other[, join, axis, level, copy, …]):Align two objects on their axes with the specified join method.
#### append(to_append[, ignore_index, …]):Concatenate two or more Series.
#### any([axis, bool_only, skipna, level]): Return whether any element is True, potentially over an axis.
#### count([level]):Return number of non-NA/null observations in the Series.:drop([labels, axis, index, columns, level, …]): Return Series with specified index labels removed.
#### isnull(): Detect missing values.

In [118]:
# tail([n]):return the last n rows.
Ser2.tail(2)

UK           4
Australia    5
Name: Country, dtype: int64

In [119]:
Ser2.head(3)

USA       1
China     2
France    3
Name: Country, dtype: int64

In [120]:
Ser2.tolist()  ## convert Series to list

[1, 2, 3, 4, 5]

In [121]:
Ser2.count()

5

In [122]:
Ser2.any(axis=0)

True

In [ ]:
# drop(): Series.drop(labels=None, axis=0, index=None, columns=None, level=None, inplace=False, errors='raise')[source]
# defaults: axis=0, labels=none

In [152]:
s = pd.Series(data=np.arange(3), index=['A', 'B', 'C'])
s

A    0
B    1
C    2
dtype: int32

In [153]:
s.drop(index=["A","B"]) # drop two index "A" and :B

C    2
dtype: int32